<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc65a6">  <td>18/08/23 16:41:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BulkOrder.AfterClass()[pri:0, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/08/23 16:34:11</td>   <td>-409480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BulkOrder.Pimco_TC_2_7_2_1AndPimco_TC_2_7_2_2()[pri:3, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">Pimco_TC_2_7_2_1AndPimco_TC_2_7_2_2</td> 
  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/08/23 16:37:23</td>   <td>-218088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BulkOrder.Pimco_TC_2_7_2_3()[pri:4, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">Pimco_TC_2_7_2_3</td> 
  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/08/23 16:38:34</td>   <td>-146780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BulkOrder.Pimco_TC_2_7_2_5()[pri:6, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">Pimco_TC_2_7_2_5</td> 
  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/08/23 16:34:11</td>   <td>-409481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BulkOrder.beforeMethod()[pri:0, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/08/23 16:37:23</td>   <td>-218088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BulkOrder.beforeMethod()[pri:0, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/08/23 16:38:34</td>   <td>-146780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BulkOrder.beforeMethod()[pri:0, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/08/23 16:33:55</td>   <td>-425946</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BulkOrder.beforeclass()[pri:0, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
<tr bgcolor="b6cbcc">  <td>18/08/23 16:33:46</td>   <td>-434162</td> <td title="&gt;&gt;BaseTestPimco.openbrowser()[pri:0, instance:com.Pimco.RegressionTestBoth.BulkOrder@27808f31]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1725017993</td>   <td></td> </tr>
</table>
