<h2>Reporter output</h2><table><tr><td><img src="./Screenshots 23_08_2018/Pimco_TC_2_7_2_323_08_2018 16_38_34.png"</td></tr>
<tr><td><img src="./Screenshots 23_08_2018/Pimco_TC_2_7_2_523_08_2018 16_41_01.png"</td></tr>
</table>