<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:03:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_1_1()[pri:2, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_1_1</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:05:52</td>   <td>160531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_1_2()[pri:3, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_1_2</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:07:43</td>   <td>270744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_1_3()[pri:4, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_1_3</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:10:38</td>   <td>445610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_1_4()[pri:5, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_1_4</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:12:23</td>   <td>550585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_1_5()[pri:6, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_1_5</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:13:07</td>   <td>594858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_1_6()[pri:7, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_1_6</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:14:23</td>   <td>671176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_2_1()[pri:8, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_2_1</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:15:40</td>   <td>747686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_2_2()[pri:9, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_2_2</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:17:08</td>   <td>836458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_2_3()[pri:10, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_2_3</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:18:26</td>   <td>914515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_2_4()[pri:11, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_2_4</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:19:48</td>   <td>995998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_3_1andSB_TC_2_4_3_3_2()[pri:12, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_3_1andSB_TC_2_4_3_3_2</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:20:37</td>   <td>1045232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_3_3andSB_TC_2_4_3_3_4andSB_TC_2_4_3_3_5andSB_TC_2_4_3_3_6()[pri:13, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_3_3andSB_TC_2_4_3_3_4andSB_TC_2_4_3_3_5andSB_TC_2_4_3_3_6</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:22:35</td>   <td>1163460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_3_7()[pri:14, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_3_7</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:23:51</td>   <td>1238998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_3_8andSB_TC_2_4_3_3_9()[pri:15, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_3_8andSB_TC_2_4_3_3_9</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:25:38</td>   <td>1346220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_4_1andSB_TC_2_4_3_4_2andSB_TC_2_4_3_4_3()[pri:16, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">SB_TC_2_4_3_4_1andSB_TC_2_4_3_4_2andSB_TC_2_4_3_4_3</td> 
  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:27:35</td>   <td>1463198</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterClass()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:05:31</td>   <td>139087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:06:58</td>   <td>225699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:10:15</td>   <td>423007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:12:03</td>   <td>530702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:12:48</td>   <td>575867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:13:59</td>   <td>647117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:15:21</td>   <td>729071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:16:37</td>   <td>805186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:18:08</td>   <td>895802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:19:28</td>   <td>976326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:20:19</td>   <td>1026612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:22:16</td>   <td>1144042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:23:32</td>   <td>1219732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:25:17</td>   <td>1325269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:27:35</td>   <td>1463198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:02:27</td>   <td>-44661</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeClass()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:02:48</td>   <td>-24322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:05:31</td>   <td>139088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:06:58</td>   <td>225700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:10:15</td>   <td>423007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:12:03</td>   <td>530702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:12:48</td>   <td>575867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:13:59</td>   <td>647117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:15:21</td>   <td>729072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:16:37</td>   <td>805187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:18:08</td>   <td>895802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:19:28</td>   <td>976326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:20:19</td>   <td>1026614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:22:16</td>   <td>1144043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:23:32</td>   <td>1219732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:25:17</td>   <td>1325269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/09/17 15:02:27</td>   <td>-44695</td> <td title="&gt;&gt;ManageInventory.beforeSuite()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
<tr bgcolor="b6cbcc">  <td>18/09/17 15:02:22</td>   <td>-50083</td> <td title="&gt;&gt;BaseTestSecurityBenefit.openbrowser()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@37d31475]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1177377518</td>   <td></td> </tr>
</table>
