<h2>Methods that were not run</h2><table>
<tr><td>com.SecurityBenefit.RegressionTest.ManageInventory.SB_TC_2_4_3_4_4</td></tr>
<tr><td>com.SecurityBenefit.RegressionTest.ManageInventory.SB_TC_2_4_3_4_4_Continuation</td></tr>
</table>