<h2>Reporter output</h2><table><tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_1_117_09_2018 15_05_31.png"</td></tr>
<tr><td>QA_TESTNEWITEM_2 is Created new piece</td></tr>
<tr><td>QA_TESTNEWITEM_2 is Obsoleted</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_1_317_09_2018 15_10_15.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_1_417_09_2018 15_12_03.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_1_517_09_2018 15_12_48.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_1_617_09_2018 15_13_59.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_2_117_09_2018 15_15_21.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_2_217_09_2018 15_16_37.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_2_317_09_2018 15_18_08.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_2_417_09_2018 15_19_28.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_3_1andSB_TC_2_4_3_3_217_09_2018 15_20_19.png"</td></tr>
<tr><td>QA_TESTNEWITEM_3 is Created new piece</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_3_3andSB_TC_2_4_3_3_4andSB_TC_2_4_3_3_5andSB_TC_2_4_3_3_617_09_2018 15_22_16.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_3_8andSB_TC_2_4_3_3_917_09_2018 15_25_17.png"</td></tr>
<tr><td><img src="./Screenshots 17_09_2018/SB_TC_2_4_3_4_1andSB_TC_2_4_3_4_2andSB_TC_2_4_3_4_317_09_2018 15_27_35.png"</td></tr>
</table>