<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.globalatlantic.regression1.AdminManageOrders</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GATC_2_4_9_1_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Pre_Req_Order</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GATC_2_4_9_1_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GATC_2_4_9_1_5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GATC_2_4_9_1_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GATC_2_4_9_1_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GATC_2_4_9_1_6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GATC_2_4_9_1_7</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
</table>
