<h2>Methods that were not run</h2><table>
<tr><td>com.globalatlantic.regression1.AdminManageOrders.GATC_2_4_9_1_1</td></tr>
<tr><td>com.globalatlantic.regression1.AdminManageOrders.GATC_2_4_9_1_7</td></tr>
<tr><td>com.globalatlantic.regression1.AdminManageOrders.GATC_2_4_9_1_3</td></tr>
<tr><td>com.globalatlantic.regression1.AdminManageOrders.GATC_2_4_9_1_2</td></tr>
</table>