<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:19:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminManageOrders.GATC_2_4_9_1_4()[pri:5, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">GATC_2_4_9_1_4</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:23:16</td>   <td>210704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminManageOrders.GATC_2_4_9_1_5()[pri:6, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">GATC_2_4_9_1_5</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:25:39</td>   <td>353632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminManageOrders.GATC_2_4_9_1_6()[pri:7, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">GATC_2_4_9_1_6</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:19:06</td>   <td>-39452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminManageOrders.Pre_Req_Order()[pri:1, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">Pre_Req_Order</td> 
  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:18:59</td>   <td>-46033</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminManageOrders.beforeClass()[pri:0, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:19:06</td>   <td>-39453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminManageOrders.beforeMethod()[pri:0, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:19:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminManageOrders.beforeMethod()[pri:0, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:23:16</td>   <td>210704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminManageOrders.beforeMethod()[pri:0, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="fe8984">  <td>18/09/19 16:25:39</td>   <td>353632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminManageOrders.beforeMethod()[pri:0, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
<tr bgcolor="97fd8f">  <td>18/09/19 16:18:53</td>   <td>-52543</td> <td title="&gt;&gt;BaseTest.openbrowser()[pri:0, instance:com.globalatlantic.regression1.AdminManageOrders@38bc8ab5]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1053631449</td>   <td></td> </tr>
</table>
