<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aa9ba">  <td>18/10/15 15:18:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddPopTicket.AfterClass()[pri:0, instance:com.Humana.RegressionTest.AddPopTicket@7a187f14]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@249155636</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/15 15:17:47</td>   <td>-37817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPopTicket.HUM_TC_2_3_1_1_5()[pri:3, instance:com.Humana.RegressionTest.AddPopTicket@7a187f14]">HUM_TC_2_3_1_1_5</td> 
  <td>main@249155636</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/15 15:18:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddPopTicket.afterMethod()[pri:0, instance:com.Humana.RegressionTest.AddPopTicket@7a187f14]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@249155636</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/15 15:17:47</td>   <td>-37818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddPopTicket.beforeMethod()[pri:0, instance:com.Humana.RegressionTest.AddPopTicket@7a187f14]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@249155636</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/15 15:17:41</td>   <td>-43741</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddPopTicket.beforeclass()[pri:0, instance:com.Humana.RegressionTest.AddPopTicket@7a187f14]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@249155636</td>   <td></td> </tr>
<tr bgcolor="e2809c">  <td>18/10/15 15:17:36</td>   <td>-49483</td> <td title="&gt;&gt;BaseTestHumana.openbrowser()[pri:0, instance:com.Humana.RegressionTest.AddPopTicket@7a187f14]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@249155636</td>   <td></td> </tr>
</table>
