<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aa9ba">  <td>18/10/04 15:52:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.AfterClass()[pri:0, instance:com.JNL.RegressionTests.Login@1a8a8f7c]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/04 15:52:01</td>   <td>-18426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.JNL_Mob_TC_1_0_1_4()[pri:1, instance:com.JNL.RegressionTests.Login@1a8a8f7c]">JNL_Mob_TC_1_0_1_4</td> 
  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/04 15:52:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.JNL.RegressionTests.Login@1a8a8f7c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/04 15:52:01</td>   <td>-18429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod()[pri:0, instance:com.JNL.RegressionTests.Login@1a8a8f7c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/04 15:52:01</td>   <td>-18439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeclass()[pri:0, instance:com.JNL.RegressionTests.Login@1a8a8f7c]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
<tr bgcolor="e2809c">  <td>18/10/04 15:51:52</td>   <td>-27834</td> <td title="&gt;&gt;BaseTestJNL.openbrowser()[pri:0, instance:com.JNL.RegressionTests.Login@1a8a8f7c]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1320677379</td>   <td></td> </tr>
</table>
