<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Staging.Regression</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC020</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC018</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC019</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC016</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC017</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC014</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC015</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC013</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC021</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC022</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
