<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:34:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:35:22</td>   <td>46972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:06</td>   <td>90903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:07</td>   <td>91824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:08</td>   <td>92925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:09</td>   <td>93994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:11</td>   <td>95264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:12</td>   <td>96320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:12</td>   <td>97166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:14</td>   <td>98233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:15</td>   <td>99242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:15</td>   <td>100093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:16</td>   <td>100898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:17</td>   <td>101953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:18</td>   <td>103033</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:19</td>   <td>104083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:20</td>   <td>105144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:21</td>   <td>106004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:22</td>   <td>106815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:23</td>   <td>107862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:24</td>   <td>108949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:25</td>   <td>109755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:34:24</td>   <td>-11557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC001()[pri:0, instance:Staging.Regression@548a9f61]">TC001</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:34:35</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC002()[pri:0, instance:Staging.Regression@548a9f61]">TC002</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:35:22</td>   <td>46992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC003()[pri:0, instance:Staging.Regression@548a9f61]">TC003</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:06</td>   <td>90926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC004()[pri:0, instance:Staging.Regression@548a9f61]">TC004</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:07</td>   <td>91849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC005()[pri:0, instance:Staging.Regression@548a9f61]">TC005</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:08</td>   <td>92935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC006()[pri:0, instance:Staging.Regression@548a9f61]">TC006</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:09</td>   <td>94004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC007()[pri:0, instance:Staging.Regression@548a9f61]">TC007</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:11</td>   <td>95275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC008()[pri:0, instance:Staging.Regression@548a9f61]">TC008</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:12</td>   <td>96342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC009()[pri:0, instance:Staging.Regression@548a9f61]">TC009</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:12</td>   <td>97192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC010()[pri:0, instance:Staging.Regression@548a9f61]">TC010</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:14</td>   <td>98243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC011()[pri:0, instance:Staging.Regression@548a9f61]">TC011</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:15</td>   <td>99252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC012()[pri:0, instance:Staging.Regression@548a9f61]">TC012</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:15</td>   <td>100102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC013()[pri:0, instance:Staging.Regression@548a9f61]">TC013</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:16</td>   <td>100925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC014()[pri:0, instance:Staging.Regression@548a9f61]">TC014</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:17</td>   <td>101970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC015()[pri:0, instance:Staging.Regression@548a9f61]">TC015</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:18</td>   <td>103043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC016()[pri:0, instance:Staging.Regression@548a9f61]">TC016</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:19</td>   <td>104092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC017()[pri:0, instance:Staging.Regression@548a9f61]">TC017</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:20</td>   <td>105158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC018()[pri:0, instance:Staging.Regression@548a9f61]">TC018</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:21</td>   <td>106011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC019()[pri:0, instance:Staging.Regression@548a9f61]">TC019</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:22</td>   <td>106841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC020()[pri:0, instance:Staging.Regression@548a9f61]">TC020</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:23</td>   <td>107891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC021()[pri:0, instance:Staging.Regression@548a9f61]">TC021</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:24</td>   <td>108978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC022()[pri:0, instance:Staging.Regression@548a9f61]">TC022</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:34:22</td>   <td>-13224</td> <td title="&gt;&gt;Regression.setUp()[pri:0, instance:Staging.Regression@548a9f61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
</table>
