<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:34:22</td>   <td>0</td> <td title="&gt;&gt;Regression.setUp()[pri:0, instance:Staging.Regression@548a9f61]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:34:24</td>   <td>1667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC001()[pri:0, instance:Staging.Regression@548a9f61]">TC001</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:34:35</td>   <td>13224</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:34:35</td>   <td>13245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC002()[pri:0, instance:Staging.Regression@548a9f61]">TC002</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:35:22</td>   <td>60196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:35:22</td>   <td>60216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC003()[pri:0, instance:Staging.Regression@548a9f61]">TC003</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:06</td>   <td>104127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:06</td>   <td>104150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC004()[pri:0, instance:Staging.Regression@548a9f61]">TC004</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:07</td>   <td>105048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:07</td>   <td>105073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC005()[pri:0, instance:Staging.Regression@548a9f61]">TC005</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:08</td>   <td>106149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:08</td>   <td>106159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC006()[pri:0, instance:Staging.Regression@548a9f61]">TC006</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:09</td>   <td>107218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:09</td>   <td>107228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC007()[pri:0, instance:Staging.Regression@548a9f61]">TC007</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:11</td>   <td>108488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:11</td>   <td>108499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC008()[pri:0, instance:Staging.Regression@548a9f61]">TC008</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:12</td>   <td>109544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:12</td>   <td>109566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC009()[pri:0, instance:Staging.Regression@548a9f61]">TC009</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:12</td>   <td>110390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:12</td>   <td>110416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC010()[pri:0, instance:Staging.Regression@548a9f61]">TC010</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:14</td>   <td>111457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:14</td>   <td>111467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC011()[pri:0, instance:Staging.Regression@548a9f61]">TC011</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:15</td>   <td>112466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:15</td>   <td>112476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC012()[pri:0, instance:Staging.Regression@548a9f61]">TC012</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:15</td>   <td>113317</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:15</td>   <td>113326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC013()[pri:0, instance:Staging.Regression@548a9f61]">TC013</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:16</td>   <td>114122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:16</td>   <td>114149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC014()[pri:0, instance:Staging.Regression@548a9f61]">TC014</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:17</td>   <td>115177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:17</td>   <td>115194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC015()[pri:0, instance:Staging.Regression@548a9f61]">TC015</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:18</td>   <td>116257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:18</td>   <td>116267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC016()[pri:0, instance:Staging.Regression@548a9f61]">TC016</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:19</td>   <td>117307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:19</td>   <td>117316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC017()[pri:0, instance:Staging.Regression@548a9f61]">TC017</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:20</td>   <td>118368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:20</td>   <td>118382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC018()[pri:0, instance:Staging.Regression@548a9f61]">TC018</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:21</td>   <td>119228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:21</td>   <td>119235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC019()[pri:0, instance:Staging.Regression@548a9f61]">TC019</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:22</td>   <td>120039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:22</td>   <td>120065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC020()[pri:0, instance:Staging.Regression@548a9f61]">TC020</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:23</td>   <td>121086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:23</td>   <td>121115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC021()[pri:0, instance:Staging.Regression@548a9f61]">TC021</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:24</td>   <td>122173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:24</td>   <td>122202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Regression.TC022()[pri:0, instance:Staging.Regression@548a9f61]">TC022</td> 
  <td>main@182738614</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/13 15:36:25</td>   <td>122979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Regression.AfterMethod()[pri:0, instance:Staging.Regression@548a9f61]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@182738614</td>   <td></td> </tr>
</table>
