<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aa9ba">  <td>18/09/25 14:56:46</td>   <td>0</td> <td title="&gt;&gt;BaseTest.openbrowser()[pri:0, instance:Script.Listsvalues@ea1a8d5]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@213193302</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>18/09/25 14:57:00</td>   <td>13785</td> <td>&nbsp;</td><td title="&gt;&gt;Listsvalues.BeforeTest()[pri:0, instance:Script.Listsvalues@ea1a8d5]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@213193302</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>18/09/25 14:57:15</td>   <td>28663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Listsvalues.Listvalues()[pri:0, instance:Script.Listsvalues@ea1a8d5]">Listvalues</td> 
  <td>main@213193302</td>   <td></td> </tr>
</table>
