<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aa9ba">  <td>18/09/17 15:50:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PartsView.Partsview()[pri:0, instance:com.parts.viewability.PartsView@2a742aa2]">Partsview</td> 
  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/09/17 15:54:52</td>   <td>234951</td> <td title="&lt;&lt;PartsView.afterClass()[pri:0, instance:com.parts.viewability.PartsView@2a742aa2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/09/17 15:50:43</td>   <td>-13681</td> <td title="&gt;&gt;PartsView.beforeClass()[pri:0, instance:com.parts.viewability.PartsView@2a742aa2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011986105</td>   <td></td> </tr>
</table>
