<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="837a77">  <td>17/11/17 22:06:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Fullfillmentsearch.BeforeTest()[pri:0, instance:com.ProtectivelifePerformance.Tests.Fullfillmentsearch@59fa1d9b]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@342597804</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>17/11/17 22:06:30</td>   <td>-3229</td> <td title="&gt;&gt;BaseTest.openbrowser()[pri:0, instance:com.ProtectivelifePerformance.Tests.Fullfillmentsearch@59fa1d9b]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@342597804</td>   <td></td> </tr>
</table>
