<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Tests.ManageParts</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MakePartsNotViewable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MakeCAPartsViewable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MakePartsViewable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MakeCAPartsNotViewable</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
