<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>18/01/08 15:32:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageParts.MakeCAPartsNotViewable()[pri:4, instance:Tests.ManageParts@735b5592]">MakeCAPartsNotViewable</td> 
  <td>main@1635985705</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/01/08 15:32:13</td>   <td>-7632</td> <td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:Tests.ManageParts@735b5592]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635985705</td>   <td></td> </tr>
</table>
