<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>17/12/05 15:10:30</td>   <td>0</td> <td title="&gt;&gt;JNL_PartsView.beforeClass()[pri:0, instance:com.PartsViewability.JNL.JNL_PartsView@68be2bc2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1722023916</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/05 15:10:47</td>   <td>16941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JNL_PartsView.Partsview()[pri:0, instance:com.PartsViewability.JNL.JNL_PartsView@68be2bc2]">Partsview</td> 
  <td>main@1722023916</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>17/12/05 15:29:13</td>   <td>1123606</td> <td title="&lt;&lt;JNL_PartsView.afterClass()[pri:0, instance:com.PartsViewability.JNL.JNL_PartsView@68be2bc2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1722023916</td>   <td></td> </tr>
</table>
