<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Standard.RegressionTest.ManageAnnouncement</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_3_4_1_6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_3_4_1_5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_3_4_1_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_3_4_1_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_3_4_1_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_3_4_1_1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeclass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
