<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>18/03/02 18:15:18</td>   <td>0</td> <td title="&lt;&lt;BaseTestStandard.Aftersuite()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&lt;&lt;Aftersuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:08:54</td>   <td>-384035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageAnnouncement.SI_TC_2_3_4_1_1()[pri:1, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">SI_TC_2_3_4_1_1</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:09:14</td>   <td>-364610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageAnnouncement.SI_TC_2_3_4_1_2()[pri:2, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">SI_TC_2_3_4_1_2</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:10:32</td>   <td>-286003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageAnnouncement.SI_TC_2_3_4_1_3()[pri:3, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">SI_TC_2_3_4_1_3</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:11:17</td>   <td>-241529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageAnnouncement.SI_TC_2_3_4_1_4()[pri:4, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">SI_TC_2_3_4_1_4</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:13:44</td>   <td>-94330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageAnnouncement.SI_TC_2_3_4_1_5()[pri:5, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">SI_TC_2_3_4_1_5</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:15:09</td>   <td>-9017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageAnnouncement.SI_TC_2_3_4_1_6()[pri:6, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">SI_TC_2_3_4_1_6</td> 
  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:09:05</td>   <td>-373774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageAnnouncement.afterMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:10:23</td>   <td>-295103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageAnnouncement.afterMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:11:08</td>   <td>-250473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageAnnouncement.afterMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:13:33</td>   <td>-104940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageAnnouncement.afterMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:15:01</td>   <td>-17824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageAnnouncement.afterMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:15:09</td>   <td>-9001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageAnnouncement.afterMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:08:54</td>   <td>-384035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageAnnouncement.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:09:14</td>   <td>-364610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageAnnouncement.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:10:32</td>   <td>-286003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageAnnouncement.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:11:17</td>   <td>-241529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageAnnouncement.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:13:44</td>   <td>-94330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageAnnouncement.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:15:09</td>   <td>-9017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageAnnouncement.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/03/02 18:08:49</td>   <td>-389272</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageAnnouncement.beforeclass()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/03/02 18:08:40</td>   <td>-398714</td> <td title="&gt;&gt;BaseTestStandard.openbrowser()[pri:0, instance:com.Standard.RegressionTest.ManageAnnouncement@4b9e13df]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1471868639</td>   <td></td> </tr>
</table>
