<h2>Reporter output</h2><table><tr><td><img src="file://C:\Users\rr273575\Selenium\Workspace\Standard\ScreenShots\SI_TC_2_3_4_1_3_ 02_03_2018 18_11_08.png" alt=""/></td></tr>
<tr><td><img src="file://C:\Users\rr273575\Selenium\Workspace\Standard\ScreenShots\SI_TC_2_3_4_1_5_ 02_03_2018 18_15_01.png" alt=""/></td></tr>
</table>