<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aa9ba">  <td>18/09/28 15:19:32</td>   <td>0</td> <td title="&gt;&gt;BaseTestABC.openbrowser()[pri:0, instance:com.ABC.RegressionTests.Inventory_ViewOrders@2f943d71]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>18/09/28 15:19:40</td>   <td>8081</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Inventory_ViewOrders.beforeClass()[pri:0, instance:com.ABC.RegressionTests.Inventory_ViewOrders@2f943d71]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>18/09/28 15:19:48</td>   <td>15628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Inventory_ViewOrders.beforeMethod()[pri:0, instance:com.ABC.RegressionTests.Inventory_ViewOrders@2f943d71]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>18/09/28 15:19:48</td>   <td>15630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Inventory_ViewOrders.ABC_TC_VIP_1_1_1_1()[pri:1, instance:com.ABC.RegressionTests.Inventory_ViewOrders@2f943d71]">ABC_TC_VIP_1_1_1_1</td> 
  <td>main@317986356</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>18/09/28 15:20:13</td>   <td>40895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Inventory_ViewOrders.afterMethod()[pri:0, instance:com.ABC.RegressionTests.Inventory_ViewOrders@2f943d71]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@317986356</td>   <td></td> </tr>
</table>
