<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Tests.CA_Basic</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ClearShoppingCartFulfillment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BulkOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TrainingGuides</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PagingFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CABasicLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FulfillmentOrder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MostPopularItems</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyMailList</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>generateReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
