<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Protectivelife.Regression.Admin_Manage_Orders</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_6_1_3</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Pre_requisite</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
