<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ac637b">  <td>18/08/23 16:59:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GWM_PartsView.Partsview()[pri:0, instance:com.PartsViewability.Pimco.GWM_PartsView@33c7e1bb]">Partsview</td> 
  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="ac637b">  <td>18/08/23 17:10:43</td>   <td>701773</td> <td title="&lt;&lt;GWM_PartsView.afterClass()[pri:0, instance:com.PartsViewability.Pimco.GWM_PartsView@33c7e1bb]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
<tr bgcolor="ac637b">  <td>18/08/23 16:58:32</td>   <td>-29214</td> <td title="&gt;&gt;GWM_PartsView.beforeClass()[pri:0, instance:com.PartsViewability.Pimco.GWM_PartsView@33c7e1bb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19717364</td>   <td></td> </tr>
</table>
