<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68a769">  <td>18/10/10 18:59:29</td>   <td>0</td> <td title="&gt;&gt;HartfordBaseTest.openbrowser()[pri:0, instance:com.Hartford.Regression.AZtest@3cb1ffe6]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@439904756</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/10 18:59:34</td>   <td>4997</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AZtest.beforeclass()[pri:0, instance:com.Hartford.Regression.AZtest@3cb1ffe6]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@439904756</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/10 18:59:36</td>   <td>7365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AZtest.beforeMethod()[pri:0, instance:com.Hartford.Regression.AZtest@3cb1ffe6]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@439904756</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/10 18:59:36</td>   <td>7368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AZtest.AZ1()[pri:1, instance:com.Hartford.Regression.AZtest@3cb1ffe6]">AZ1</td> 
  <td>main@439904756</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/10/10 18:59:58</td>   <td>29733</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AZtest.AfterClass()[pri:0, instance:com.Hartford.Regression.AZtest@3cb1ffe6]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@439904756</td>   <td></td> </tr>
<tr bgcolor="68a769">  <td>18/10/10 18:59:59</td>   <td>29787</td> <td title="&lt;&lt;HartfordBaseTest.Aftersuite()[pri:0, instance:com.Hartford.Regression.AZtest@3cb1ffe6]">&lt;&lt;Aftersuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@439904756</td>   <td></td> </tr>
</table>
