<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f97bb5">  <td>18/06/22 11:16:46</td>   <td>0</td> <td title="&lt;&lt;BaseTestStandard.Aftersuite()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&lt;&lt;Aftersuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:37:42</td>   <td>-2343346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletAdmin.SI_TC_2_5_1_2_1()[pri:1, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">SI_TC_2_5_1_2_1</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:49:04</td>   <td>-1662099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletAdmin.SI_TC_2_5_1_2_2()[pri:2, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">SI_TC_2_5_1_2_2</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:50:17</td>   <td>-1588365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletAdmin.SI_TC_2_5_1_2_3()[pri:3, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">SI_TC_2_5_1_2_3</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:51:35</td>   <td>-1510997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletAdmin.SI_TC_2_5_1_2_4()[pri:4, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">SI_TC_2_5_1_2_4</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:58:55</td>   <td>-1070679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletAdmin.SI_TC_2_5_1_2_5()[pri:5, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">SI_TC_2_5_1_2_5</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 11:05:30</td>   <td>-675406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletAdmin.SI_TC_2_5_1_2_6()[pri:6, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">SI_TC_2_5_1_2_6</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:37:42</td>   <td>-2343349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletAdmin.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:49:04</td>   <td>-1662099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletAdmin.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:50:17</td>   <td>-1588365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletAdmin.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:51:35</td>   <td>-1510997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletAdmin.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:58:55</td>   <td>-1070680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletAdmin.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 11:05:30</td>   <td>-675406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletAdmin.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>18/06/22 10:36:59</td>   <td>-2386232</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletAdmin.beforeclass()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="f97bb5">  <td>18/06/22 10:36:47</td>   <td>-2398225</td> <td title="&gt;&gt;BaseTestStandard.openbrowser()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletAdmin@457e2f02]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
</table>
