<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2809c">  <td>18/08/23 14:03:59</td>   <td>0</td> <td title="&gt;&gt;BaseTestPimco.openbrowser()[pri:0, instance:com.Pimco.RegressionTestBoth.ManageUsers@fad74ee]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1226622409</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/23 14:04:06</td>   <td>7282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageUsers.beforeclass()[pri:0, instance:com.Pimco.RegressionTestBoth.ManageUsers@fad74ee]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1226622409</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/23 14:04:41</td>   <td>42087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageUsers.beforeMethod()[pri:0, instance:com.Pimco.RegressionTestBoth.ManageUsers@fad74ee]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1226622409</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/23 14:05:29</td>   <td>89815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageUsers.Pimco_TC_2_4_13_1_4()[pri:4, instance:com.Pimco.RegressionTestBoth.ManageUsers@fad74ee]">Pimco_TC_2_4_13_1_4</td> 
  <td>main@1226622409</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/23 14:06:40</td>   <td>161348</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageUsers.AfterClass()[pri:0, instance:com.Pimco.RegressionTestBoth.ManageUsers@fad74ee]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1226622409</td>   <td></td> </tr>
</table>
