<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9cea0">  <td>18/08/09 16:28:17</td>   <td>0</td> <td title="&gt;&gt;PartsView.beforeClass()[pri:0, instance:com.parts.viewability.PartsView@2bbf4b8b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>18/08/09 16:29:00</td>   <td>43346</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PartsView.Partsview()[pri:0, instance:com.parts.viewability.PartsView@2bbf4b8b]">Partsview</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="a9cea0">  <td>18/08/09 16:43:37</td>   <td>920695</td> <td title="&lt;&lt;PartsView.afterClass()[pri:0, instance:com.parts.viewability.PartsView@2bbf4b8b]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543237999</td>   <td></td> </tr>
</table>
