<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b6cbcc">  <td>18/10/05 13:31:47</td>   <td>0</td> <td title="&gt;&gt;BaseTestHumana.openbrowser()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:31:53</td>   <td>6511</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpecialProjects.beforeclass()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:07</td>   <td>20358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpecialProjects.beforeMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:07</td>   <td>20359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpecialProjects.HUM_TC_2_4_1_3()[pri:1, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">HUM_TC_2_4_1_3</td> 
  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:08</td>   <td>20819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpecialProjects.afterMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:08</td>   <td>20821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpecialProjects.beforeMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:08</td>   <td>20821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpecialProjects.HUM_TC_2_4_1_4()[pri:2, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">HUM_TC_2_4_1_4</td> 
  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:22</td>   <td>35036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpecialProjects.afterMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:22</td>   <td>35036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpecialProjects.beforeMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:22</td>   <td>35036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpecialProjects.HUM_TC_2_4_1_5()[pri:3, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">HUM_TC_2_4_1_5</td> 
  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:54</td>   <td>67094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpecialProjects.afterMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:54</td>   <td>67094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpecialProjects.beforeMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:32:54</td>   <td>67094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpecialProjects.HUM_TC_2_4_1_6()[pri:4, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">HUM_TC_2_4_1_6</td> 
  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:36:54</td>   <td>306835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpecialProjects.afterMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:36:54</td>   <td>306835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpecialProjects.beforeMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:36:54</td>   <td>306835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpecialProjects.HUM_TC_2_4_1_10()[pri:5, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">HUM_TC_2_4_1_10</td> 
  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:37:32</td>   <td>344916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpecialProjects.afterMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:37:32</td>   <td>344916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpecialProjects.beforeMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:37:32</td>   <td>344916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpecialProjects.HUM_TC_2_4_1_13()[pri:6, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">HUM_TC_2_4_1_13</td> 
  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:38:24</td>   <td>396884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpecialProjects.afterMethod()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
<tr bgcolor="bc65a6">  <td>18/10/05 13:38:24</td>   <td>396884</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SpecialProjects.AfterClass()[pri:0, instance:com.Humana.RegressionTest.SpecialProjects@51e2adc7]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@142555199</td>   <td></td> </tr>
</table>
