<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.AfterClass()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:35</td>   <td>-12752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SB_TC_1_0_1_1()[pri:1, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">SB_TC_1_0_1_1</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:36</td>   <td>-12471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SB_TC_1_0_1_2()[pri:2, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">SB_TC_1_0_1_2</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:43</td>   <td>-5575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SB_TC_1_0_1_3()[pri:3, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">SB_TC_1_0_1_3</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:44</td>   <td>-3993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SB_TC_1_0_1_4()[pri:4, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">SB_TC_1_0_1_4</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:47</td>   <td>-1153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SB_TC_1_0_1_5()[pri:5, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">SB_TC_1_0_1_5</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:47</td>   <td>-718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SB_TC_1_0_1_6()[pri:6, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">SB_TC_1_0_1_6</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:48</td>   <td>-359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SB_TC_1_0_1_7()[pri:7, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">SB_TC_1_0_1_7</td> 
  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:36</td>   <td>-12471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:43</td>   <td>-5576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:44</td>   <td>-3993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:47</td>   <td>-1153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:47</td>   <td>-718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:48</td>   <td>-359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:35</td>   <td>-12753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:36</td>   <td>-12471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:43</td>   <td>-5575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:44</td>   <td>-3993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:47</td>   <td>-1153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:47</td>   <td>-718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:48</td>   <td>-359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>18/07/26 16:03:35</td>   <td>-12760</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.beforeclass()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
<tr bgcolor="7be3c5">  <td>18/07/26 16:03:27</td>   <td>-20944</td> <td title="&gt;&gt;BaseTestSecurityBenefit.openbrowser()[pri:0, instance:com.SecurityBenefit.RegressionTest.Login@4cc0edeb]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@152134087</td>   <td></td> </tr>
</table>
