<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Protectivelife.Regression.AdminManageInventory</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_3_1andPL_TC_2_5_2_3_2andPL_TC_2_5_2_3_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_3_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_3_9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_4_7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_3_8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_3_6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_1_7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_3_5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_4_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_1_6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_2_5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_3_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_4_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_1_5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_2_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_4_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_1_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_2_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_1_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_2_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_4_7_Continuation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_1_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_2_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_5_2_1_1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BefMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfteMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
