<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>18/05/07 15:50:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AdminManageInventory.AfteMethod()[pri:0, instance:com.Protectivelife.Regression.AdminManageInventory@5e5792a0]">&lt;&lt;AfteMethod</td> 
<td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/05/07 15:50:32</td>   <td>2586</td> <td title="&lt;&lt;BaseTest.Aftersuite()[pri:0, instance:com.Protectivelife.Regression.AdminManageInventory@5e5792a0]">&lt;&lt;Aftersuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>18/05/07 15:49:35</td>   <td>-54886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AdminManageInventory.BefMethod()[pri:0, instance:com.Protectivelife.Regression.AdminManageInventory@5e5792a0]">&gt;&gt;BefMethod</td> 
<td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>18/05/07 15:49:35</td>   <td>-54886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AdminManageInventory.PL_TC_2_5_2_4_7()[pri:1, instance:com.Protectivelife.Regression.AdminManageInventory@5e5792a0]">PL_TC_2_5_2_4_7</td> 
  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/05/07 15:49:27</td>   <td>-63045</td> <td title="&gt;&gt;BaseTest.openbrowser()[pri:0, instance:com.Protectivelife.Regression.AdminManageInventory@5e5792a0]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
</table>
