<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7f5ae">  <td>18/01/11 13:04:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_1_1()[pri:1, instance:com.aon.Regression.Login@55f3ddb1]">AON_TC_1_0_1_1</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>18/01/11 13:04:27</td>   <td>14505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_2_1()[pri:2, instance:com.aon.Regression.Login@55f3ddb1]">AON_TC_1_0_2_1</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>18/01/11 13:04:32</td>   <td>18981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_2_2()[pri:3, instance:com.aon.Regression.Login@55f3ddb1]">AON_TC_1_0_2_2</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>18/01/11 13:04:32</td>   <td>19305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_2_3()[pri:4, instance:com.aon.Regression.Login@55f3ddb1]">AON_TC_1_0_2_3</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="b7f5ae">  <td>18/01/11 13:04:32</td>   <td>19528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_2_4()[pri:5, instance:com.aon.Regression.Login@55f3ddb1]">AON_TC_1_0_2_4</td> 
  <td>main@2107447833</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/01/11 13:03:06</td>   <td>-67206</td> <td title="&gt;&gt;BaseTest.openbrowser()[pri:0, instance:com.aon.Regression.Login@55f3ddb1]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2107447833</td>   <td></td> </tr>
</table>
