<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Protectivelife.Regression.FF_PartViewMode</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_7_5_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_7_5_6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_7_5_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PL_TC_2_7_5_5</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
