<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="709393">  <td>18/08/09 16:10:35</td>   <td>0</td> <td title="&gt;&gt;BaseTest.openbrowser()[pri:0, instance:com.Protectivelife.Regression.FF_PartViewMode@1a1d6a08]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1957502751</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/08/09 16:10:44</td>   <td>9287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FF_PartViewMode.PL_TC_2_7_5_1()[pri:0, instance:com.Protectivelife.Regression.FF_PartViewMode@1a1d6a08]">PL_TC_2_7_5_1</td> 
  <td>main@1957502751</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/08/09 16:11:22</td>   <td>46517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FF_PartViewMode.PL_TC_2_7_5_4()[pri:0, instance:com.Protectivelife.Regression.FF_PartViewMode@1a1d6a08]">PL_TC_2_7_5_4</td> 
  <td>main@1957502751</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/08/09 16:13:06</td>   <td>150766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FF_PartViewMode.PL_TC_2_7_5_5()[pri:0, instance:com.Protectivelife.Regression.FF_PartViewMode@1a1d6a08]">PL_TC_2_7_5_5</td> 
  <td>main@1957502751</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>18/08/09 16:14:59</td>   <td>263767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FF_PartViewMode.PL_TC_2_7_5_6()[pri:0, instance:com.Protectivelife.Regression.FF_PartViewMode@1a1d6a08]">PL_TC_2_7_5_6</td> 
  <td>main@1957502751</td>   <td></td> </tr>
<tr bgcolor="709393">  <td>18/08/09 16:16:56</td>   <td>380435</td> <td title="&lt;&lt;BaseTest.Aftersuite()[pri:0, instance:com.Protectivelife.Regression.FF_PartViewMode@1a1d6a08]">&lt;&lt;Aftersuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1957502751</td>   <td></td> </tr>
</table>
