<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.aon.Regression.Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AON_TC_1_0_2_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AON_TC_1_0_2_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AON_TC_1_0_1_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AON_TC_1_0_2_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AON_TC_1_0_2_1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
