<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96a48d">  <td>17/12/11 13:26:19</td>   <td>0</td> <td title="&gt;&gt;BaseTest.openbrowser()[pri:0, instance:com.aon.Regression.Login@8bd1b6a]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>17/12/11 13:26:26</td>   <td>6753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_1_1()[pri:1, instance:com.aon.Regression.Login@8bd1b6a]">AON_TC_1_0_1_1</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>17/12/11 13:26:35</td>   <td>15681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_2_1()[pri:2, instance:com.aon.Regression.Login@8bd1b6a]">AON_TC_1_0_2_1</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>17/12/11 13:26:39</td>   <td>19836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_2_2()[pri:3, instance:com.aon.Regression.Login@8bd1b6a]">AON_TC_1_0_2_2</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>17/12/11 13:26:40</td>   <td>20554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_2_3()[pri:4, instance:com.aon.Regression.Login@8bd1b6a]">AON_TC_1_0_2_3</td> 
  <td>main@60559178</td>   <td></td> </tr>
<tr bgcolor="6f6bfd">  <td>17/12/11 13:26:40</td>   <td>20846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AON_TC_1_0_2_4()[pri:5, instance:com.aon.Regression.Login@8bd1b6a]">AON_TC_1_0_2_4</td> 
  <td>main@60559178</td>   <td></td> </tr>
</table>
