<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.Standard.RegressionTest.EnrollmentBookletBasic</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_5_1_2_8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_5_1_2_7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_5_1_2_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_5_1_2_9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_5_1_2_11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SI_TC_2_5_1_2_12</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeclass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
