<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbc1e0">  <td>18/06/22 12:00:11</td>   <td>0</td> <td title="&lt;&lt;BaseTestStandard.Aftersuite()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&lt;&lt;Aftersuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:49:28</td>   <td>-643506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletBasic.SI_TC_2_5_1_2_10()[pri:4, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">SI_TC_2_5_1_2_10</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:55:04</td>   <td>-307750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletBasic.SI_TC_2_5_1_2_11()[pri:5, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">SI_TC_2_5_1_2_11</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:59:40</td>   <td>-31271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletBasic.SI_TC_2_5_1_2_12()[pri:6, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">SI_TC_2_5_1_2_12</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:28:19</td>   <td>-1912688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletBasic.SI_TC_2_5_1_2_7()[pri:1, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">SI_TC_2_5_1_2_7</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:43:40</td>   <td>-991414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletBasic.SI_TC_2_5_1_2_8()[pri:2, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">SI_TC_2_5_1_2_8</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:48:05</td>   <td>-726334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EnrollmentBookletBasic.SI_TC_2_5_1_2_9()[pri:3, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">SI_TC_2_5_1_2_9</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:28:19</td>   <td>-1912690</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletBasic.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:43:40</td>   <td>-991415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletBasic.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:48:05</td>   <td>-726335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletBasic.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:49:28</td>   <td>-643506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletBasic.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:55:04</td>   <td>-307750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletBasic.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:59:40</td>   <td>-31271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletBasic.beforeMethod()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/06/22 11:27:40</td>   <td>-1950836</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EnrollmentBookletBasic.beforeclass()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/06/22 11:27:32</td>   <td>-1959149</td> <td title="&gt;&gt;BaseTestStandard.openbrowser()[pri:0, instance:com.Standard.RegressionTest.EnrollmentBookletBasic@5c7fa833]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
</table>
