<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.SecurityBenefit.RegressionTest.ManageInventory</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_1_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_3_1andSB_TC_2_4_3_3_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_1_6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_1_5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_2_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_1_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_2_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_1_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_2_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_2_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_1_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SB_TC_2_4_3_3_3andSB_TC_2_4_3_3_4</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>&nbsp;</td></tr>
</table>
