<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aa9ba">  <td>18/08/20 13:48:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageInventory.SB_TC_2_4_3_3_3andSB_TC_2_4_3_3_4()[pri:11, instance:com.SecurityBenefit.RegressionTest.ManageInventory@631330c]">SB_TC_2_4_3_3_3andSB_TC_2_4_3_3_4</td> 
  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/20 13:49:03</td>   <td>43321</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterClass()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@631330c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/20 13:49:03</td>   <td>43321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ManageInventory.afterMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@631330c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/20 13:48:14</td>   <td>-5046</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeClass()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@631330c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/20 13:48:19</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageInventory.beforeMethod()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@631330c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="7aa9ba">  <td>18/08/20 13:48:14</td>   <td>-5052</td> <td title="&gt;&gt;ManageInventory.beforeSuite()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@631330c]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
<tr bgcolor="e2809c">  <td>18/08/20 13:48:09</td>   <td>-9940</td> <td title="&gt;&gt;BaseTestSecurityBenefit.openbrowser()[pri:0, instance:com.SecurityBenefit.RegressionTest.ManageInventory@631330c]">&gt;&gt;openbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@274773041</td>   <td></td> </tr>
</table>
